@using CustomerManagementApp.Pages
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorageService;

<div class="page">

    <MudThemeProvider />
    <MudPopoverProvider />
    @if (IsLoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <MudButton Variant="Variant.Text" Color="Color.Secondary" OnClick="Logout">Logout</MudButton>
            </div>
            <article class="content px-4">
                @Body
                <MudDialogProvider />
            </article>
        </main>
    }
    else
    {
        <main>
            <article class="article-login px-4">
                <Login></Login>
            </article>
        </main>
    }
</div>

@code {
    private bool IsLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorageService.GetItemAsync<string>("token");
        if (!string.IsNullOrEmpty(token))
        {
            IsLoggedIn = true;
            NavigationManager.NavigateTo("/customers");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    private async Task Logout()
    {
        await LocalStorageService.RemoveItemAsync("token");
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
