<h3>Autosuggest Component</h3>

<MudTextField @bind-Value="_textValue" Label="Place your text to search" Variant="Variant.Outlined"></MudTextField>
<MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Button" OnClick="HandleClick">Search</MudButton>


